* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--navy-blue);
}

button {
  border: none;
}
:root {
  --navy-blue: #354562;
  --green: #c0f6d4;
  --white: #fff;
}

.green-color-btn {
  background-color: var(--green);
  color: var(--navy-blue);
  padding: 1rem 2rem;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header-sub-section-1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1.7rem;
  font-family: Helvetica;
  h1 {
    color: var(--navy-blue);
    white-space: pre-line;
    font-weight: bold;
    font-size: 1.7rem;
    align-self: center;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    li {
      font-size: 1.2rem;
    }
  }
}

.climate-change-section {
  background-image: url("./assets/assets/about-us/64d1e82f1e24e2ceb03ed4016e5932cc");
  background-size: cover;

  background-position: 100%;
  background-repeat: no-repeat;
}
.conatiner {
  font-family: Helvetica;
}
.climate-change-section-conatiner {
  padding: 2rem;
}
.climate-change-section-title {
  white-space: pre-line;
  color: var(--white);
  font-size: 4rem;
  font-family: "Flood Std";
}
.climate-change-section-content-title {
  margin: auto;
  background-color: var(--navy-blue);
  margin: auto;
  width: fit-content;
  padding: 1rem 2rem;

  text-align: center;
  color: var(--white);
  font-size: 1.2rem;
  transform: translateY(50%);
}
.section-content {
  max-width: 600px;
}
.climate-change-section-content {
  text-align: center;
  color: var(--navy-blue);
  background-color: var(--white);
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  padding: 3rem;
}

.mission-section {
  background-color: var(--navy-blue);
}
.mission-title {
  background-color: var(--white);
  color: var(--navy-blue);
  margin: auto;
  /*  width: fit-content; */
  width: 66%;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}
.mission-section-content {
  color: var(--white);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
}
.mission-container {
  padding: 2rem;
  font-family: Helvetica;
}
img {
  width: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mission-img {
  min-height: 80px;
  min-width: 70px;
}

.mission-section-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
}
.mission-section-container-title {
  font-size: 1rem;
  color: var(--white);
  font-weight: bold;
  margin-top: 1rem;
}
.mission-section-container-content {
  color: var(--white);
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.our-team-section {
  padding: 2rem;
}
.our-team-section-title {
  background-color: var(--navy-blue);
  width: 60%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  color: var(--white);
  font-size: 1.2rem;
}
.our-team-section-title-heading {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--navy-blue);
}

.our-team-section-content {
  font-size: 1.1rem;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 1rem;
  color: var(--navy-blue);
}
.persons-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3.4rem;
}
.person-img {
  width: 10rem;
}
.person-name {
  background-color: var(--navy-blue);
  width: 10rem;
  transform: translateY(-60%);
  color: var(--white);
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}
.our-impact-section {
  background-image: url("./assets/assets/about-us/d5564810561953cd4d6acc8c9ed0ff69");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 80%; */
  padding: 2rem;
}

.our-impact-section-title {
  background-color: var(--white);
  width: 60%;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
  color: var(--navy-blue);
  font-size: 1.2rem;
}
.our-impact-section-content {
  text-align: center;

  margin-top: 2rem;
  margin-bottom: 2rem;

  font-size: 1.5rem;
  line-height: 1.5;
  color: var(--white);
}
.our-impact-section-content-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}

.num {
  text-align: center;
  color: black;

  font-family: "Flood Std";
  font-size: 3rem;
  color: var(--white);
  font-family: "Flood Std";
}
.content-of-num {
  color: black;
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
  font-family: Helvetica;
  margin: auto;
  padding-bottom: 2rem;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  text-align: center;
  color: var(--white);
  font-weight: bold;
}

.action-section {
  background-color: var(--navy-blue);
  padding: 2rem;
}
.action-section-title {
  padding-top: 1.8rem;
  font-family: "Flood Std";
  text-align: center;
  color: var(--white);
  font-size: 3.5rem;
}

.main-card-container {
  overflow: hidden;
}
.card-container {
  width: 300%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.arrow {
  background-color: var(--green);
  width: 4rem;
  height: 4rem;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 100%;
  transform: translateX(500%) translateY(400%);
}
.year {
  background-color: var(--white);
  margin: auto;
  width: 60%;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  transform: translateY(80%);
  font-size: 1rem;
}

.action-section-content-title {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}
.action-section-content {
  font-size: 1rem;
  text-align: center;
}
.action-card-container {
  font-family: Helvetica;
}

.future-img {
  width: 100%;
}
.action-title-card {
  transform: translateY(-5%);
  background-color: var(--white);
  padding: 3rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--navy-blue);
}

.action-section-content {
  font-size: 1rem;
  line-height: 1.5;
}

.read-more-btn,
.subscribe-btn {
  width: 60%;
  background-color: var(--green);
  padding: 1rem;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 2rem;
  color: var(--navy-blue);
}

.subscribe-section {
  background-color: var(--green);
  padding: 2rem;
}
.subscribe-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-family: Helvetica;
}
.subscribe-content {
  text-align: start;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--navy-blue);
}
.email {
  width: 50%;
}
.email-input {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 50px;
  border: none;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  font-weight: bold;
}
.btn {
  margin: 0px;
  width: 38%;
  padding: 0.9rem;
  margin-top: 1rem;
  border-radius: 50px;
  background-color: var(--navy-blue);
  color: var(--white);
}
.the-green-tree {
  white-space: pre-line;
}
.footer-section {
  padding: 2rem;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
  color: var(--navy-blue);
}
.stop-climate {
  white-space: pre-line;
  font-family: "Flood Std";
  grid-area: 3/2;
  color: var(--navy-blue);
}
.the-green-tree {
  color: var(--navy-blue);
  font-size: 1.5rem;
}
.li-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.footer-content {
  font-size: 1rem;
  line-height: 1.5;
}
.li-border {
  text-decoration: underline;
}

@media (min-width: 1025px) {
  .conatiner {
    max-width: 1400px;
    margin: auto;
  }
  .nav-container {
    flex-direction: row;

    .header-sub-section-1 {
      grid-template-columns: auto 1fr;
      flex-grow: 2;
      ul {
        align-self: center;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }

  .climate-change-section-conatiner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .section-content {
    transform: translateY(20%);
  }
  .climate-change-section-title {
    font-size: 5rem;
    display: flex;
    align-items: center;
  }
  .climate-change-section-content {
    text-align: start;
    font-size: 2rem;
    line-height: 1.5;
    padding-right: 7rem;
    font-family: Helvetica;
  }
  .climate-change-section-content-tile {
    font-family: Helvetica;
    width: 30%;
    transform: translatey(40%) translateX(-95%);
  }

  .mission-title {
    width: 25%;
    transform: translateX(-150%);
    text-align: center;
    margin-top: 5rem;
  }
  .mission-section-content {
    margin-bottom: 5rem;
    font-size: 3.5rem;
    text-align: start;
  }
  .mission-section-container-title {
    font-size: 1.9rem;
  }

  .mission-section-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 5rem;
  }
  .mission-section-container-content {
    font-size: 1.3rem;
  }

  .our-team-section-title {
    width: 25%;
    transform: translateX(-150%);
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .our-team-section-content {
    font-size: 1.2rem;
    text-align: start;
    margin-left: 3rem;
    margin-top: 1rem;
  }
  .persons-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  .person-img {
    width: 25rem;
  }
  .person-name {
    width: 25rem;
    transform: translateX(10%) translateY(-85%);
    font-size: 1.2rem;
  }

  .our-team-section-title-heading {
    text-align: start;
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: var(--navy-blue);
  }

  .our-team-section-title-container {
    display: flex;
    gap: 7rem;
  }
  .our-impact-section-title {
    width: 25%;
  }

  .our-impact-section-content-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 6.3rem;
  }

  .our-impact-section {
    /* background-size: 100% 100%; */
    height: 70vh;
    background-position-y: 20%;
  }

  .our-impact-section-content {
    font-size: 3rem;
  }
  .card-container {
    width: 120%;
    gap: 5rem;
  }
  .year {
    transform: translateX(-15%) translateY(80%);
  }
  .action-container {
    position: relative;
  }
  .action-section-content-title {
    text-align: start;
  }
  .action-section-content {
    text-align: start;
  }
  .read-more-btn {
    transform: translateX(-35%) translateY(60%);
  }
  .arrow {
    position: absolute;
    top: -10rem;
    left: 60rem;
  }
  .action-section-title {
    text-align: start;
    margin-left: 2rem;
    font-size: 5rem;
  }

  .subscribe-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 25rem; */
  }
  .subscribe-content {
    font-size: 3rem;
  }
  .subscribe-main-container {
    margin-left: 2rem;
  }
  .subscribe-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
  }
  .btn {
    padding: 1.6rem;
    text-align: center;
    width: 40%;
    height: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .subscribe-content {
    font-size: 2rem;
  }
  .btn {
    margin-right: 2rem;
  }
  .email {
    width: 50%;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }
  unorder-list {
    font-family: Helvetica;
  }

  .stop-climate {
    font-size: 4rem;
    grid-area: 1/5/2/6;
  }
  .li-border {
    text-decoration: none;
  }
  .underline {
    text-decoration: underline;
    font-family: Helvetica;
  }
}
